[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "*"
matplotlib = "*"
jupyter = "*"
ipywidgets = "*"
scikit-image = "*"
seaborn = "*"
numpy = "==1.16.0"
tqdm = "*"
scikit-learn = "*"
invoke = "*"
opencv-python = "*"
tensorflow = "==2.3.0"
scipy = "*"

[requires]
python_version = "3.7"
